body{
	background: #000;
	font: 12px arial;
}

#container{
	width: 960px;
	margin: 0 auto;
	padding: 6px;
	background: rgba(23,38,89,0.5);
}

#header{
	background: url('img/fheader.png') no-repeat;
}
#menu{
	background: #172659;
	height: 35px;
}
#content{
	background: #fff;
	min-height: 400px;
	overflow: hidden;
}
#footer{
	background: #364a88;
	height: 50px;
}
#footer p{
	color: #ccc;
	margin: 0;
	padding-top: 15px;
	text-align: center;
}

#menu ul{
	margin: 0;
	padding: 0;
}
#menu ul li(
	float: left;
	list-style: none;
	)
#menu ul li a{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #ddd;
}
#menu ul li:hover{
	background: #40569;
}